body{
    display: flex;
}
.app-container{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100%;
    background-color: white;
}
#card-container{

    flex: 1 1 auto;
    width: 100%;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
img{
    height: 100%;
    width: 100%
}
.card{
    flex: 0 0 300px;
    background-color: white;
    border: 3px solid #333;
    margin: 5px;
    justify-content: center;
    align-items: center;
}
.card-body{
    border-top: black 10px;
}
@media only screen and (max-width: 1199px) {
    .app-container {
        width: 900px;
    }

}

@media only screen and (min-width: 750px) and (max-width: 1000px) {
    .app-container {
        flex-direction: column;
        width: 720px;
    }

    #card-container .card {
        flex-basis: 300px;
        height: 300px;
    }
    #card-container .card img {
        height: 65%;
    }
}
@media only screen and (max-width: 749px) {
    .app-container {
        margin: 0 15px;
        width: calc(100% - 30px);
    }

    #card-container {
        width: calc(100% - 50px);
    }

    #card-container .card {
        height: 75px;
        flex-basis: 100%;
    }
    img{
        display: none;
    }
}